* {
    box-sizing: border-box;
    overflow: auto;

    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-image: url("../img/bg.jpg");
}

.frame {
    background-color: white;
    margin: auto;
    width: 700px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* nav bar */
.navbar {
    background-image: url("../img/menu_bg.gif");
    font-weight: bolder;
    margin: 19px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 57px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #564B3F;
    text-align: center;
    padding: 16px 19px;
}

/* main bar */
.header {
    margin-bottom: 30px;
}

.mainbar {
    margin: 50px 80px 100px 40px;
}

/* column */
.main {
    display: flex;
}

.mleft {
    width: 20%;
}

.left {
    width: 33%;
}

.mid {
    width: 50%;
}

.right {
    width: 67%;
}

.mright {
    width: 80%;
}

.center {
    margin: auto;
}

/* color */
.form {
    color: #000094;
    font-weight: bolder;
}

.title {
    color: blue;
}

.content {
    color: #5786AC;
}

.clock {
    color: red;
}

/* input */
input {
    height: 25px;
    margin: 2px;
}

input[type=checkbox] {
    height: 12px;
    margin: 4px;
}

input[type=number] {
    width: 15%;
}

/* select */
select {
    height: 20px;
    width: 120px;
    margin: 2px;
}